{% extends './basic.html' %}





{% block main %}
    <br>
  

  <div>
    {% if user.is_authenticated %}


    <div id="search">

      <h2 class="h1 mb-4">Welcome {{ user.username }}</h2>
      <table>
        <tr>
          <th>Sub</th>
          <th>faculty</th>
          <th>start time</th>
          <th>emd time</th>
        </tr>
        {% for r in result %}
        <tr>
          <th> {{ r.subject_name }}</th>
          <th> {{ r.faculty_name }}</th>
          <th> {{ r.start_time }}</th>
          <th> {{ r.end_time }}</th>
        </tr> 
        {% endfor %}
        </table>
        
</div>

  </div>

</div>
<!-- Card -->

{% comment %} <!-- Default form login -->
<form class="text-center border border-light p-5" method="POST">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div> 
  {% endcomment %}

 
 {% endif %}
</div>

{% endblock main %}
